body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffbea; /* Light background to evoke a warm, pizza dough color */
}

.container {
    padding: 20px;
}

.pizza-menu {
    background: tomato;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.pizza-gallery {
    display: block;
}

.pizza-gallery img {
    width: 250px;
    margin: 20px;
    border-radius: 8px;
    height: 250px;
}

@media only screen and (max-width: 600px) {
    .pizza-menu {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    .pizza-menu {
        border-left: 5px solid olive;
    }
}

@media screen and (min-width: 1024px) {
    .pizza-menu {
        border-left: 10px solid olive;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
}

@media screen and (orientation: landscape) {
    .pizza-gallery {
        display: flex;
    }
}